openapi: 3.1.0
info:
  title: ProxyAI Wallet API
  version: 1.0.0
  description: |
    Wallet, top-up and payment webhook endpoints.
    Money values are ALWAYS decimal strings (never numbers).
servers:
  - url: https://api.proxyai.live/api
security:
  - bearerAuth: []
paths:
  /v1/wallet:
    get:
      operationId: getWallet
      summary: Get wallet balance and status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Wallet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/wallet/transactions:
    get:
      operationId: listTransactions
      summary: List wallet transactions (cursor pagination)
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor from the previous page (next_cursor).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Transaction page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/wallet/topups:
    get:
      operationId: listTopups
      summary: List top-up requests (cursor pagination)
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor from the previous page (next_cursor).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum items per page.
      responses:
        '200':
          description: Paginated list of top-up requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopupRequestItem'
                  next_cursor:
                    type: string
                    nullable: true
                  has_more:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      operationId: createTopup
      summary: Create a top-up request (payment intent)
      security:
        - bearerAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
          description: Idempotency key (same key + same body â†’ same response).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTopupRequest'
            examples:
              default:
                value:
                  amount: '50.00'
      responses:
        '201':
          description: Top-up request created with payment intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupCreatedResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/wallet/topups/{id}:
    get:
      operationId: getTopup
      summary: Get top-up status (polling)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Top-up request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/webhooks/payments:
    post:
      operationId: handlePaymentWebhook
      summary: Payment provider webhook (signature-authenticated)
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPayload'
      responses:
        '200':
          description: Webhook acknowledged (processed | duplicate | ignored)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Run a chat completion (billed via the wallet)
      description: |
        Validates â†’ authenticates â†’ resolves the model â†’ AI Gateway
        (estimate gate â†’ provider â†’ usage metering â†’ charge). The response
        is OpenAI-compatible inside the standard envelope, plus billing
        and latency extensions. Streaming is not supported yet.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion with billing summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/models:
    get:
      operationId: listModels
      summary: List enabled models (OpenAI-compatible shape)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/providers:
    get:
      operationId: listProviders
      summary: List configured AI providers and their capabilities
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/dashboard/summary:
    get:
      operationId: getDashboardSummary
      summary: Dashboard Home summary (balance, usage, recent activity) in one round trip
      description: |
        Single request backing the Dashboard Home page. Returns wallet state,
        today/month spend (COMPLETED usage only), recent transactions (5),
        recent usage (5), active API key count, model registry summary and
        provider status. Money values are decimal strings.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/health:
    get:
      operationId: getHealth
      summary: Public liveness probe + provider health
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/estimate:
    post:
      operationId: estimateCost
      summary: Read-only cost estimate + proceed gate (never debits)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateRequest'
      responses:
        '200':
          description: Estimate result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/refund:
    post:
      operationId: createRefund
      summary: Refund a charged usage log (own usage; any usage when ADMIN)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Refund result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/usage:
    get:
      operationId: listUsage
      summary: List usage history (cursor pagination)
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Usage page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagePage'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v1/transactions:
    get:
      operationId: listBillingTransactions
      summary: List wallet transactions (cursor pagination)
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Transaction page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionPage'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token (JWT) or project API key (pk_live_...).
    webhookSignature:
      type: apiKey
      in: header
      name: x-mock-signature
      description: HMAC-SHA256 signature of the raw body (provider secret).
  schemas:
    Money:
      type: string
      description: Decimal money as string, e.g. "50.000000". Never a number.
      example: '50.000000'
    ErrorEnvelope:
      type: object
      required: [success, error, request_id]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required: [code, message, details]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
        request_id:
          type: string
    SuccessEnvelope:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
        request_id:
          type: string
    WalletResponse:
      type: object
      required: [id, balance, currency, status]
      properties:
        id:
          type: string
        balance:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
          enum: [USD, IDR, SGD]
        status:
          type: string
          enum: [ACTIVE, LOCKED, SUSPENDED, PAYMENT_REQUIRED]
    DashboardTransactionItem:
      type: object
      required: [id, type, amount, balance_after, currency, status, created_at]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [TOPUP, AI_USAGE, REFUND, ADJUSTMENT, ADMIN_CREDIT, ADMIN_DEBIT]
        amount:
          $ref: '#/components/schemas/Money'
        balance_after:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        status:
          type: string
        description:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
    DashboardUsageItem:
      type: object
      required: [id, model, provider, status, total_tokens, user_cost, currency, created_at]
      properties:
        id:
          type: string
        model:
          type: string
        provider:
          type: string
        status:
          type: string
        total_tokens:
          type: integer
        user_cost:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        created_at:
          type: string
          format: date-time
    DashboardSummary:
      type: object
      required:
        [balance, currency, wallet_status, requests_today, tokens_today, spend_today,
         spend_month, spend_previous_month, active_keys, available_models,
         default_model, latest_transactions, latest_usage, provider]
      properties:
        balance:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
          enum: [USD, IDR, SGD]
        wallet_status:
          type: string
          enum: [ACTIVE, LOCKED, SUSPENDED, PAYMENT_REQUIRED]
        requests_today:
          type: integer
        tokens_today:
          type: integer
        spend_today:
          $ref: '#/components/schemas/Money'
        spend_month:
          $ref: '#/components/schemas/Money'
        spend_previous_month:
          $ref: '#/components/schemas/Money'
        active_keys:
          type: integer
        available_models:
          type: integer
        default_model:
          type: [string, 'null']
        latest_transactions:
          type: array
          maxItems: 5
          items:
            $ref: '#/components/schemas/DashboardTransactionItem'
        latest_usage:
          type: array
          maxItems: 5
          items:
            $ref: '#/components/schemas/DashboardUsageItem'
        provider:
          type: object
          required: [id, healthy, latency_ms]
          properties:
            id:
              type: string
            healthy:
              type: boolean
            latency_ms:
              type: [integer, 'null']
    TransactionItem:
      type: object
      required: [id, type, amount, balance_before, balance_after, currency, status, created_at]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [TOPUP, AI_USAGE, REFUND, ADJUSTMENT, ADMIN_CREDIT, ADMIN_DEBIT]
        amount:
          $ref: '#/components/schemas/Money'
        balance_before:
          $ref: '#/components/schemas/Money'
        balance_after:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        status:
          type: string
        reference:
          type: string
        description:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
    TransactionPage:
      type: object
      required: [items, next_cursor, has_more]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
        next_cursor:
          type: [string, 'null']
          description: Opaque cursor for the next page (null when last page).
        has_more:
          type: boolean
    CreateTopupRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: string
          pattern: '^\d+(\.\d{1,6})?$'
          example: '50.00'
    PaymentIntent:
      type: object
      required: [provider_reference, checkout_url, token, expires_at]
      properties:
        provider_reference:
          type: string
        checkout_url:
          type: [string, 'null']
        token:
          type: [string, 'null']
        expires_at:
          type: string
          format: date-time
    TopupCreatedResponse:
      type: object
      required: [topup, payment]
      properties:
        topup:
          $ref: '#/components/schemas/TopupResponse'
        payment:
          $ref: '#/components/schemas/PaymentIntent'
    TopupRequestItem:
      type: object
      required: [id, status, amount, currency, expires_at, created_at]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [PENDING, PAID, FAILED, EXPIRED]
        amount:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        provider:
          type: string
        provider_reference:
          type: string
          nullable: true
        transaction_id:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    TopupResponse:
      type: object
      required: [id, status, amount, currency, expires_at]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [PENDING, PAID, FAILED, EXPIRED]
        amount:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        provider:
          type: string
        provider_reference:
          type: [string, 'null']
        transaction_id:
          type: [string, 'null']
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    WebhookPayload:
      type: object
      required: [eventId, providerReference, amount, currency, status]
      properties:
        eventId:
          type: string
        providerReference:
          type: string
        amount:
          type: string
        currency:
          type: string
        status:
          type: string
          enum: [PAID, FAILED]
        timestamp:
          type: string
          format: date-time
    WebhookAck:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [outcome]
          properties:
            outcome:
              type: string
              enum: [processed, duplicate, ignored]
        request_id:
          type: string
    # â”€â”€â”€ AI Gateway (Billing Milestone 8) â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    ChatMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
          minimum: 0
          maximum: 2
        top_p:
          type: number
          minimum: 0
          maximum: 1
        max_tokens:
          type: integer
          minimum: 1
        stream:
          type: boolean
          const: false
          description: Streaming is not supported yet.
        idempotency_key:
          type: string
          description: Optional client idempotency key for the charge.
    UsageDetail:
      type: object
      required: [prompt_tokens, completion_tokens, total_tokens]
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
        prompt_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: integer
    BillingSummary:
      type: object
      required:
        [transaction_id, usage_log_id, pricing_version_id, total_cost, currency]
      properties:
        transaction_id:
          type: string
        usage_log_id:
          type: string
        pricing_version_id:
          type: string
        total_cost:
          $ref: '#/components/schemas/Money'
        currency:
          type: string
        wallet_balance_before:
          $ref: '#/components/schemas/Money'
        wallet_balance_after:
          $ref: '#/components/schemas/Money'
        wallet_status_after:
          type: string
    ChatCompletionResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [id, object, created, model, choices, usage]
          properties:
            id:
              type: string
            object:
              type: string
            created:
              type: integer
            model:
              type: string
            choices:
              type: array
              items:
                type: object
                required: [index, message, finish_reason]
                properties:
                  index:
                    type: integer
                  message:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                      content:
                        type: string
                  finish_reason:
                    type: string
            usage:
              $ref: '#/components/schemas/UsageDetail'
            provider:
              type: string
            provider_request_id:
              type: string
            billing:
              $ref: '#/components/schemas/BillingSummary'
            latency:
              type: object
              properties:
                total_ms:
                  type: integer
                provider_ms:
                  type: integer
                billing_ms:
                  type: integer
        request_id:
          type: string
    ModelListResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [object, data]
          properties:
            object:
              type: string
            data:
              type: array
              items:
                type: object
                required: [id, object, owned_by]
                properties:
                  id:
                    type: string
                  object:
                    type: string
                  created:
                    type: integer
                  owned_by:
                    type: string
                  display_name:
                    type: string
                  context_window:
                    type: integer
        request_id:
          type: string
    ProviderListResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [object, data]
          properties:
            object:
              type: string
            data:
              type: array
              items:
                type: object
                required: [id, version, capabilities]
                properties:
                  id:
                    type: string
                  version:
                    type: string
                  capabilities:
                    type: object
                    properties:
                      streaming:
                        type: boolean
                      vision:
                        type: boolean
                      reasoning:
                        type: boolean
                      toolCalling:
                        type: boolean
                      jsonMode:
                        type: boolean
                      embeddings:
                        type: boolean
                      imageGeneration:
                        type: boolean
                      maxContextTokens:
                        type: integer
                      maxOutputTokens:
                        type: integer
        request_id:
          type: string
    HealthResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [status, provider, provider_healthy, timestamp]
          properties:
            status:
              type: string
            provider:
              type: string
            provider_healthy:
              type: boolean
            provider_latency_ms:
              type: [integer, 'null']
            timestamp:
              type: string
              format: date-time
        request_id:
          type: string
    EstimateRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'
        max_tokens:
          type: integer
          minimum: 1
    EstimateResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [model, estimated_cost, estimated_balance, currency, can_proceed]
          properties:
            model:
              type: string
            pricing_version_id:
              type: string
            estimated_cost:
              $ref: '#/components/schemas/Money'
            estimated_balance:
              $ref: '#/components/schemas/Money'
            currency:
              type: string
            can_proceed:
              type: boolean
            reason:
              type: [string, 'null']
        request_id:
          type: string
    RefundRequest:
      type: object
      required: [usage_log_id, idempotency_key]
      properties:
        usage_log_id:
          type: string
        reason:
          type: string
          maxLength: 500
        idempotency_key:
          type: string
        user_id:
          type: string
          description: Admin-only â€” refund another user's usage log.
    RefundResponse:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [refund_request_id, usage_log_id, transaction_id, amount, currency]
          properties:
            refund_request_id:
              type: string
            usage_log_id:
              type: string
            transaction_id:
              type: string
            amount:
              $ref: '#/components/schemas/Money'
            currency:
              type: string
            refund_status:
              type: string
            usage_status:
              type: string
            wallet_balance_after:
              $ref: '#/components/schemas/Money'
            replayed:
              type: boolean
        request_id:
          type: string
    UsagePage:
      type: object
      required: [success, data, request_id]
      properties:
        success:
          type: boolean
        data:
          type: object
          required: [items, next_cursor, has_more]
          properties:
            items:
              type: array
              items:
                type: object
                required: [id, model, provider, status, total_tokens, user_cost, currency]
                properties:
                  id:
                    type: string
                  model:
                    type: string
                  provider:
                    type: string
                  status:
                    type: string
                  prompt_tokens:
                    type: integer
                  completion_tokens:
                    type: integer
                  cached_tokens:
                    type: integer
                  total_tokens:
                    type: integer
                  user_cost:
                    $ref: '#/components/schemas/Money'
                  currency:
                    type: string
                  request_id:
                    type: [string, 'null']
                  created_at:
                    type: string
                    format: date-time
            next_cursor:
              type: [string, 'null']
            has_more:
              type: boolean
        request_id:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Conflict:
      description: Conflict (insufficient balance, idempotency, state transition)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: Bad request (validation error)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Locked:
      description: Wallet is locked
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: The caller is not allowed to perform this operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    PaymentRequired:
      description: Request rejected by the billing gate (payment required)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadGateway:
      description: The AI provider failed or returned malformed data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    GatewayTimeout:
      description: The AI provider timed out
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Too many requests
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'


  /admin/dashboard/summary:
    get:
      operationId: adminDashboardSummary
      summary: Admin dashboard overview
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard overview
  /admin/users:
    get:
      operationId: adminListUsers
      summary: List users
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: search
          in: query
          schema: { type: string }
        - name: role
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: User page
  /admin/users/{id}:
    get:
      operationId: adminGetUser
      summary: Get user detail
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User detail
  /admin/users/{id}/status:
    patch:
      operationId: adminUpdateUserStatus
      summary: Update user status
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ACTIVE, SUSPENDED]
                reason:
                  type: string
      responses:
        '200':
          description: Status updated
  /admin/wallet/credit:
    post:
      operationId: adminCreditWallet
      summary: Credit wallet
      tags: [Admin]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet_id: { type: string }
                amount: { type: string }
                reason: { type: string }
                idempotency_key: { type: string }
      responses:
        '201':
          description: Wallet credited
  /admin/wallet/debit:
    post:
      operationId: adminDebitWallet
      summary: Debit wallet
      tags: [Admin]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet_id: { type: string }
                amount: { type: string }
                reason: { type: string }
                idempotency_key: { type: string }
      responses:
        '201':
          description: Wallet debited
  /admin/refunds:
    get:
      operationId: adminListRefunds
      summary: List refunds
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Refund page
  /admin/refunds/{id}/approve:
    post:
      operationId: adminApproveRefund
      summary: Approve refund
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Refund approved
  /admin/refunds/{id}/reject:
    post:
      operationId: adminRejectRefund
      summary: Reject refund
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Refund rejected
  /admin/audit:
    get:
      operationId: adminListAudit
      summary: List audit log
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: admin_id
          in: query
          schema: { type: string }
        - name: action
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string }
        - name: date_to
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Audit page
  /admin/auth/login:
    post:
      operationId: adminLogin
      summary: Admin login with email/password
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required: [email, password]
      responses:
        '200':
          description: Login result (may require TOTP)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /admin/auth/totp:
    post:
      operationId: adminTotpVerify
      summary: Verify TOTP code after login
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
              required: [token]
      responses:
        '200':
          description: TOTP verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /admin/auth/logout:
    post:
      operationId: adminLogout
      summary: Admin logout
      tags: [Admin]
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
  /admin/auth/me:
    get:
      operationId: adminMe
      summary: Get admin profile with permissions
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Admin profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /admin/auth/session:
    get:
      operationId: adminSession
      summary: Get current admin session
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Session info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/models:
    get:
      operationId: adminListModels
      summary: List AI models (admin)
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: provider
          in: query
          required: false
          schema:
            type: string
        - name: enabled
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      operationId: adminCreateModel
      summary: Create a new AI model
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Model created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
  /admin/models/{id}:
    get:
      operationId: adminGetModel
      summary: Get model detail
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model detail
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: adminUpdateModel
      summary: Update a model
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/models/{id}/toggle:
    patch:
      operationId: adminToggleModel
      summary: Enable/disable a model
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model toggled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/models/{id}/archive:
    patch:
      operationId: adminArchiveModel
      summary: Archive a model
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model archived
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/pricing:
    get:
      operationId: adminListPricing
      summary: List pricing versions
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pricing list
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: adminCreatePricing
      summary: Create a pricing version
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Pricing version created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/pricing/{id}/activate:
    post:
      operationId: adminActivatePricing
      summary: Activate a pricing version
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pricing version activated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/pricing/{id}/archive:
    post:
      operationId: adminArchivePricing
      summary: Archive a pricing version
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pricing version archived
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/pricing/history:
    get:
      operationId: adminPricingHistory
      summary: Get pricing version history for a model
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Pricing history
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/pricing/compare:
    get:
      operationId: adminPricingCompare
      summary: Compare two pricing versions
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Version comparison
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/providers:
    get:
      operationId: adminListProviders
      summary: List AI providers
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Provider list
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/providers/{name}:
    get:
      operationId: adminGetProvider
      summary: Get provider detail
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Provider detail
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: adminUpdateProvider
      summary: Update provider configuration
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Provider updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/providers/{name}/test:
    post:
      operationId: adminTestProvider
      summary: Test provider connection
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Connection test result
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/system:
    get:
      operationId: adminGetSystem
      summary: Get system configuration
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System config
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: adminUpdateSystem
      summary: Update system configuration
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System config updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/system/reset:
    post:
      operationId: adminResetSystem
      summary: Reset system configuration to defaults
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System config reset
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/feature-flags:
    get:
      operationId: adminListFeatureFlags
      summary: List feature flags
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Feature flags
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/feature-flags/{name}:
    patch:
      operationId: adminToggleFeatureFlag
      summary: Toggle a feature flag
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Feature flag toggled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

tags:
  - name: Wallet
  - name: Topup
  - name: Webhook
  - name: AI Gateway
  - name: Billing
  - name: Admin
