-- CreateEnum
CREATE TYPE "UsageStatus" AS ENUM ('PENDING', 'COMPLETED', 'FAILED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "RefundStatus" AS ENUM ('REQUESTED', 'APPROVED', 'REJECTED', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "PricingVersionStatus" AS ENUM ('ACTIVE', 'ARCHIVED');

-- AlterEnum
ALTER TYPE "WalletStatus" ADD VALUE 'PAYMENT_REQUIRED';

-- DropIndex
DROP INDEX "usage_logs_userId_idx";

-- DropIndex
DROP INDEX "usage_logs_createdAt_idx";

-- AlterTable
ALTER TABLE "usage_logs" ADD COLUMN     "cachedTokens" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "currency" "Currency" NOT NULL DEFAULT 'USD',
ADD COLUMN     "inputPrice" DECIMAL(10,6),
ADD COLUMN     "markupPercent" DECIMAL(5,2),
ADD COLUMN     "outputPrice" DECIMAL(10,6),
ADD COLUMN     "pricingVersionId" TEXT,
ADD COLUMN     "serviceFee" DECIMAL(18,6),
DROP COLUMN "status",
ADD COLUMN     "status" "UsageStatus" NOT NULL DEFAULT 'PENDING';

-- AlterTable
ALTER TABLE "ai_models" DROP COLUMN "inputPrice",
DROP COLUMN "outputPrice";

-- CreateTable
CREATE TABLE "pricing_versions" (
    "id" TEXT NOT NULL,
    "modelId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "inputPrice" DECIMAL(10,6) NOT NULL,
    "outputPrice" DECIMAL(10,6) NOT NULL,
    "markupPercent" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "serviceFee" DECIMAL(18,6) NOT NULL DEFAULT 0,
    "effectiveFrom" TIMESTAMP(3) NOT NULL,
    "effectiveTo" TIMESTAMP(3),
    "status" "PricingVersionStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pricing_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refund_requests" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "usageLogId" TEXT NOT NULL,
    "amount" DECIMAL(18,6) NOT NULL,
    "currency" "Currency" NOT NULL DEFAULT 'USD',
    "status" "RefundStatus" NOT NULL DEFAULT 'REQUESTED',
    "reason" TEXT,
    "requestedBy" TEXT NOT NULL,
    "approvedBy" TEXT,
    "rejectedBy" TEXT,
    "rejectionReason" TEXT,
    "transactionId" TEXT,
    "requestId" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "refund_requests_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "pricing_versions_modelId_status_idx" ON "pricing_versions"("modelId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "pricing_versions_modelId_version_key" ON "pricing_versions"("modelId", "version");

-- CreateIndex
CREATE UNIQUE INDEX "refund_requests_transactionId_key" ON "refund_requests"("transactionId");

-- CreateIndex
CREATE INDEX "refund_requests_userId_status_idx" ON "refund_requests"("userId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "refund_requests_usageLogId_key" ON "refund_requests"("usageLogId");

-- CreateIndex
CREATE INDEX "usage_logs_requestId_idx" ON "usage_logs"("requestId");

-- CreateIndex
CREATE INDEX "usage_logs_pricingVersionId_idx" ON "usage_logs"("pricingVersionId");

-- AddForeignKey
ALTER TABLE "pricing_versions" ADD CONSTRAINT "pricing_versions_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES "ai_models"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "usage_logs" ADD CONSTRAINT "usage_logs_pricingVersionId_fkey" FOREIGN KEY ("pricingVersionId") REFERENCES "pricing_versions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refund_requests" ADD CONSTRAINT "refund_requests_usageLogId_fkey" FOREIGN KEY ("usageLogId") REFERENCES "usage_logs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refund_requests" ADD CONSTRAINT "refund_requests_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES "transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;



-- ============================================================
-- ADR-0001: Controlled Negative Balance (Final Design Polish)
-- The max negative balance (-0.10) is a BUSINESS POLICY enforced by
-- WalletService (conditional atomic update reading WALLET_MAX_NEGATIVE_BALANCE
-- env). It is NOT a database integrity rule — the old CHECK constraint
-- hardcoded balance >= 0 and must be dropped so policy changes never
-- require a database migration.
-- ============================================================
ALTER TABLE "wallets" DROP CONSTRAINT "wallets_balance_non_negative";
